body{
	background: url("../images/ocean-1209762_1920.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
  	background-color: #464646;
	background-position: center center;*/
	background-attachment: fixed;
	margin: 0;
}

footer{
    text-align: center;
    /* font-size: large; */
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}


body{
	font-family: 'Poiret One', cursive;
}

#treld{
	text-align: center;
	font-size: 5em;
}

#login-section{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

#login-section input[type="text"],[type="password"] {
	background: rgba(255, 255, 255, 0.3);
	color: #333; 
	vertical-align: middle;
	width: 500px;
	border: 1px solid #fff;
	padding: 0 10px;
	height: 40px;
	margin-bottom: 1em;
}
#login-section input[type="submit"]{
	background-color: rgba(255, 255, 255, 0.6);
	width: auto;
	padding: 0px 25px;
	cursor: pointer;
	margin-left: -5px;
	height: 42px;
    border: .12rem solid #28aadc;
    text-transform: uppercase;
    /*font-family: Montserrat,Helvetica,Arial,sans-serif;*/
}

#username{
    display: inline-table;
}

#pass{
	display: inherit;
}