body { 
	padding-top: 70px; 
}

#user_logged{
	display: inline;
    margin-right: 5px;
}

.footer{
	background-color: #2c3e50;
	color: #ffffff;
	margin-top: 15px;
	padding: 20px;
    width: 100%;
    height: 100px;
    display: block;
    position: absolute;
    bottom: 0;
}