#treld, footer, nav{
	font-family: 'Poiret One', cursive;
}

html, body, header, nav {
	width: 100%;
}
nav{
	margin: 0 auto;
	position: fixed;
	/*background: #004157; */
	z-index: 99999;
	padding: 0;
	background-color: rgb(140,116,70);
	color: white;
}

#treld{
    /* padding: 120 50%; */
    font-size: 5em;
    width: 100%;
    /* padding-left: 43%; */
    position: absolute;
    padding-top: 5%;
    /* height: 100%; 
    height: inherit;*/
    text-align: center;
}

ul{
	padding: 0;
	margin: 0;
	display: inline;
	list-style-type: none;
	width: 100%;
	height: 100%;
}


#teste {
	line-height: 2.4em;
}


ul > li > a { 
	margin:0; 
	padding:13px 10px;  
	text-decoration:none; 

}

nav ul  li { 
    overflow: hidden;
   /*margin: 0 0 0 30;*/
}  

body{
	margin: 0;
}

header > nav {
	width: 100%;
}

header > nav > ul > li {
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	height: 100%;
	line-height: 2.4em;
}

header {
	height: 50%;
	background: url("../images/home-office-336378_1920.jpg") 100% 100% no-repeat;
	background-size: cover;
	/*
	background: url("images/home-office-336378_1920.jpg") center center no-repeat; 
	*/
}

header  > nav > ul > li:hover {
	color: pink;
}

header  > nav > ul > li > a:hover {
	color: pink;
}

header  > nav > ul > li > a{
	color: white;
    text-decoration: initial;
}
main{
	margin: 5% 20% 20% 20%;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    text-align: justify;
}

article-category{
    display: block;
    text-align: center;
}

article-title{
	font-size: xx-large;
}

article > article-category > a {
	display: inline-block;
    text-transform: uppercase;
    margin: 0 3px 3px; 
    text-decoration: none;
    color: gray;
    letter-spacing: 2px;
}

article > article-category> a:not(:last-child){
	/*border-right:solid 1px gray;*/
	padding-right: 6px;
}

article > article-title{
	color: #4B6170;
	display: block;
}

article-details{
	color: gray;
}

article-tags:before{
	content: "Tags: ";
}

article-tags{
	color: gray;
}

article-tags > a {
	color: #0d215d;
	text-decoration: none;
	text-transform: uppercase;
    text-align: center;
}

main > a:hover{
	text-decoration: underline;
}

.author-link{
	color: #0d215d;
	text-decoration: none;
}

article-tags > a:not(:last-child){
	border-right:solid 1px gray;
	padding-right: 6px;
}

article-tags > a:not(:first-child){
	padding-left: 6px;
}

article:not(:last-child){
    margin-bottom: 5%;
}

article:not(:first-child){
	border-top: solid 2px #efefee;
    padding-top: 5%;
}

footer{
    text-align: center;
    /* font-size: large; */
    font-weight: bold;
    color: gray;
}
