<article>
    <article-category><a href="#">Tutorial</a>  <a href="#">BodyBuilder</a></article-category>
    <article-title>@title</article-title>
    <article-details>
        <article-author>Postado por <a href="#" class="author-link">Thaís Arcanjo</a></article-author>
        <article-date>em @publicationDate</article-date>
    </article-details>
    <article-body>
        @body
    </article-body>
    <article-footer>
        <article-tags>
            <a href="#">BodyBuilder</a>  <a href="#">Monstro</a>  <a href="#">Músculo</a>   <a href="#">Jaula</a>
        </article-tags>
    </article-footer>
</article>
